:root {
    --org: #0092B6;
    --offwh: rgb(250, 247, 215);
    --twh: rgba(255, 255, 255, 0.5);
    --txt: rgba(0, 0, 0, 0.8);
}
body {
    font-family: monospace;
    background-color: var(--offwh);
    font-size: large;
    margin: 0px;
}

h1,h2 {
    color: var(--org);
}
header h1 {
    color: var(--offwh);
    text-align: center;
}
.hl {
    color: #fff;
    background-color: var(--org);
    font-weight: bold;
}
/* grid box container */
.grid {
    display: grid;
    grid-template-areas: 'head con' 'nav con' 'side con';
}
/* header */
header {
    background-color: var(--org);
    overflow: hidden;
    width: 30vw;
    height: 80px;
    border: solid var(--twh) 1px;
    grid-area: head;
    padding: 10px;

}
/*sidebar*/
.sidebar {
    border: #000 solid 1px;
    width: 30vw;
    grid-area: side;
    padding: 10px;
}
/* content */
.content {
    float: right;
    width: 60vw;
    border: #000 solid 1px;
    grid-area: con;
    padding: 10px;
}
/* nav */
.nav {
    overflow: hidden;
    background-color: var(--org);
    width: 30vw;
    border: solid var(--twh) 1px;
    grid-area: nav;
    padding: 10px;
}
.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    transition: .5s;
}
.nav a:hover {
    color: var(--org);
    background: var(--offwh);
    transition: .5s;
}
.nav a.active {
    color: var(--org);
    background: var(--offwh);    
}
.nav .icon {
    display: none;
}
/* media queries */
@media screen and (max-width:600px) {
    /*resized for mobile*/
    .nav,header,.sidebar,.content { width: 100%; margin: auto; padding: auto;}
    .nav {padding: 0px;}
    .grid {grid-template-areas: 'head' 'nav' 'side' 'con';}
    .nav a:not(:first-child) {display: none;}
    .nav a.icon { /* keep menu icon to the right */
        float: right;
       display: block;
    }
}
@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;} /* responsive class for nav */
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }